/*
Theme Name: picolight - bbvdh
Theme URI: http://picomol.de/picolight/
Author: Bas Grolleman 
Description: Child Theme for bouwbedrijfvandehoef
Template: picolight
*/
@import url("../picolight/style.css");

/* Font */
body {
  font-family: Arial;
  font-weight: bold;
}

#header h1 {
  display: none;
}

/* Grotere Menus */
#mainnav ul li a {
	font-size: large;
}
